APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost
APP_KEY=
APP_TIMEZONE=

APP_LOCALE=
APP_FALLBACK_LOCALE=
APP_FAKER_LOCALE=

DB_CONNECTION=sqlite
DB_HOST=
DB_PORT=
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

CACHE_STORE=database
SESSION_DRIVER=database

QUEUE_CONNECTION=database

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PORT=6379


MAIL_MAILER=log
